// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  padding: 20px 0 0;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #0a59f4;
}

main {
  padding-top: 68px;
}